################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gym/.vs
/Gym/Gym/bin/Debug/net9.0
/Gym/Gym/obj
